@model WebDoctorAppointment.Models.EmployeeViewModel

@{
	ViewData["Title"] = "Изменение данных сотрудника";
}

<h4>Изменение данных сотрудника</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="EditEmployee">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="mb-3">
				<label asp-for="UserName"></label>
				<input asp-for="UserName" class="form-control" readonly />
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Phone"></label>
				<input asp-for="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
			<div class="mb-3" id="docname" style="display:none;">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="mb-3" id="docroom" style="display:none;">
				<label asp-for="Room"></label>
				<input asp-for="Room" class="form-control"/>
				<span asp-validation-for="Room" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label>Роли</label>
			@foreach (var role in Model.AllRoles)
			{
			<div class="form-check">
				<input type="checkbox" class="form-check-input" name="roles" value="@role" id="@(role == "doctor" ? role : "rolecheckbox")"
				       @(Model.UserRoles.Contains(role) ? "checked" : "") />
				<label class="form-check-label" for="@(role == "doctor" ? role : "rolecheckbox")">@role</label>
			</div>
			}
			</div>
			<div class="mb-3">
				<input type="submit" value="Сохранить" id="save" class="btn btn-primary" disabled />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>
		if ($('#doctor').is(':checked')) {
			$('#docroom').show();
			$('#docname').show();
		}

		var count = $(':checkbox:checked').length;
		$('#save').prop("disabled", count === 0);
	
		$('#doctor').click(function(){
			if ($(this).is(':checked')){
				$('#docroom').show(100);
				$('#docname').show(100);
			} else {
				$('#docroom').hide(100);
				$('#docname').hide(100);
			}
		});

		$(':checkbox').click(function() {
			var count = $(':checkbox:checked').length;
			$('#save').prop("disabled", count === 0);
		});
	</script>
}